In [ ]:
"""
Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

Ans :-
"""

l = [ "String", [ 1, 2, 3, "Nevil", 44.4 ], 55.55, ("Nevil", "Rohit") ] 
type (l)

In [ ]:
"""
Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

What will be the data type of the above given variable.

Ans :-

(i) String
(ii) String
(iii) List
(iv) int
"""

In [ ]:
"""
Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

Ans :-

(i) It is a division operator. It is a type of arithematic operator which performs division operation.
(ii) It is a modulo operator. It is a type of arithematic operator which gives remainder as a result.
(iii) It is a floor divison operator. It performs divison on twoo numbers and gives us the nearest rounded off result.
(iv) It is a power operator. Suppose there are two numbers a nd b. Then a**b will give us a power b.
"""

In [ ]:
"""
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

Ans :-
"""
List = [ 11, 12, 13, 14.5, "Nevil", 10 + 10j, True, False, [ 1, 2, 'Kunj'], ( 1 , "Ravi") ]
for i in List :
        print (i)
        print (type(i))

In [ ]:
"""
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

Ans :-
"""

a = int(input("Enter a number = "))
b = int(input("Enter a number = "))
count = 0
while a % b == 0 :
    Ans = a / b
    print(f"{a} is purely divisible by {b}")
    count = count+1
    a = Ans
if a % b != 0 :
    print(f"{a} is not purely divisible by {b}")
    
print(count)

In [ ]:
"""
Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

Ans :-
"""

List = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25 ]

for i in List :
    if i % 3 == 0 :
        print(f"{i} is divisible by 3")
    else :
        print(f"{i} is not divisible by 3")

In [ ]:
"""
Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property. 

Ans :-

Mutable Data Types :- Data types in which their elements can be changed/modified after its creation.
                      Examples :- List
Immutable Data Types :- Data types which does not allows us to change its state after its creation.
                        Examples :- String , Tuples
                
"""